.app-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  color: white;
}

.app-header h1 {
  color: white;
  display: inline-block;
}

.app-header .header-menu {
  display: inline-block;
  line-height: 60px;
  float: right;
}

.app-header .search-wrapper {
  display: inline-block;
  margin-left: 20px;
}

.app-content {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 64px;
}

.app-footer {
  text-align: center;
}

.responsive-image {
  max-height: 100%;
  max-width: 100%;
}

.page-wrapper {
  background: white;
  margin: 20px;
  padding: 20px;
  min-width: 80vw;
}

.page-wrapper h1 {
  font-size: 34px;
}

.data-table {
}

.data-table td, .data-table th {
  border: solid 1px #e0e0e0;
  padding-left : 10px;
  padding:5px 15px;
}
